<!-- Toolbar -->

<mat-toolbar color="primary">
  <mat-toolbar-row class="mat-elevation-z6">
    <span>Welcome to GestForm</span>
    <span class="spacer"></span>
    <span>By Emmanuel Poirier</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="content" role="main">
  <div class="card-container">
    <div class="card card-small" tabindex="0" [routerLink]="['checkNumber']">
      <span>Nouveau calcul</span>
    </div>

    <div class="card card-small" tabindex="0" [routerLink]="['cv']">
      <span>Mon CV</span>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
